<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Craft Maps:Home</title>

    {% load static %}
    <script>
        var Brewery_JSON = {{ brewery_json|safe }};
    </script>

    <!--JS files -->
    <script src='{% static "js/jquery-3.3.1.min.js" %}'></script>
    <script src='{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}'></script>
    <script src='{% static "vendor/jquery-easing/jquery.easing.min.js" %}'></script>


    <!-- Google API JS-->
    <script src="https://maps.googleapis.com/maps/api/js?key={{key}}"></script>
	<script src='{% static "js/axios.min.js" %}'></script>
    <script src='{% static "js/craftMaps.js" %}'></script>


    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href='{% static "vendor/bootstrap/css/bootstrap.min.css" %}'/>

    <!-- Custom fonts for this template -->
    <link rel="stylesheet" href='{% static "vendor/font-awesome/css/font-awesome.min.css" %}'/>
    <link rel="stylesheet" href='{% static "vendor/simple-line-icons/css/simple-line-icons.css" %}'/>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <!-- Custom styles for this template -->
    <!-- <link rel="stylesheet" href='{% static "css/new-age.min.css" %}'/> -->
    <link rel="stylesheet" href='{% static "css/new-age-index-home.css" %}'/>
    <link rel="stylesheet" href='{% static "css/craftMaps.css" %}'/>
	<!-- Custom styles for this template -->
    <link rel="stylesheet" href='{% static "css/full-width-pics.css" %}'>
	<!--Custom Fonts-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
</head>


<body id="page-top">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <img src='{% static "img/Screen Shot 2018-08-02 at 19.08.05 1.png" %}' width="40px" height="40px" />
            <a class="navbar-brand js-scroll-trigger" href="/home"><img src='{% static "img/Screen Shot 2018-08-02 at 19.07.45.png" %}' width="140px" height="30px" /></a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                    data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                    aria-label="Toggle navigation">
                Menu
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/contact">Contact</a>
                    </li>
					<li class="nav-item">
					{% if user.is_authenticated %}
						<a class="nav-link" href="/logout">Logout</a>
					{% else %}
						<a class="nav-link" href="/login">Login</a>
					{% endif %}
                        <!-- <a class="nav-link" href="/login">Login</a> -->
                    </li>
                </ul>
            </div>
        </div>
    </nav>
	
	<!-- Header - set the background image for the header in the line below -->
    <section class="py-5 bg-image-full" style="background-image: url('../static/img/beer-tour1.jpg');">
      <!-- Put anything you want here! There is just a spacer below for demo purposes! -->
      <div style="height: 200px;"></div>
    </section>
	
	<!-- Content section -->
    <section style="background-image: url('../static/img/home background 1.png');" class="py-5 backgroundSection">
      <div class="container">
        <h1>Welcome to Craft Maps</h1> 
        <p class="lead">Connecting good people with good beer on the island of Ireland since 2018.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, suscipit, rerum quos facilis repellat architecto commodi officia atque nemo facere eum non illo voluptatem quae delectus odit vel itaque amet.</p>
      </div>
    </section>

    <header class="masthead">
	  <div class="map-container">
        <div id="map"></div>
      </div>
      <div class="location-container backgroundSection" style="background-image: url('../static/img/home background 1.png');">
        <div class="container" id="location-container" >
		<!-- <p> <b> Welcome to Craft Maps! </b>  </p>
          <small class="mb-2 d-block">Starting location should be within Ireland i.e Hotel, CO. You are not sure yet? Don't worry! Just click Go and your starting point will be "The Spire"  </small> -->
          <div class="input-group mb-0">
            <input type="text" id="defaultAddress" class="form-control location-input" placeholder="Enter your starting location" aria-label="Recipient's username" aria-describedby="basic-addon2">
          </div>
		  <button id="goToMaps" class="btn btn-outline" type="button">Plan a Single Brewery Trip</button><button id="goToMultiMaps" class="btn btn-outline" type="button">Plan a Multi Brewery Trip</button>
          </div>
        </div>
    </header>

    <!-- <section class="contact bg-primary" id="contact">
        <div class="container">
            <h2>We
                <i class="fa fa-heart"></i>
                new friends!</h2>
            <ul class="list-inline list-social">
                <li class="list-inline-item social-twitter">
                    <a href="https://twitter.com/theCraftMaps1" target="_blank">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
                <li class="list-inline-item social-facebook">
                    <a href="https://www.facebook.com/thecraft.mapsco.1" target="_blank">
                        <i class="fa fa-facebook"></i>
                    </a>
                </li>
                <li class="list-inline-item social-google-plus">
                    <a href="https://www.instagram.com/thecraftmapsco/" target="_blank">
                        <i class="fa fa-instagram"></i>
                    </a>
                </li>
            </ul>
        </div>
    </section> -->

    <footer id="contact">
        <div class="container">
            <p>&copy; Craft Maps 2018</p>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a href="#">Privacy</a>
                </li>
                <li class="list-inline-item">
                    <a href="#">Terms</a>
                </li>
                <li class="list-inline-item">
                    <a href="#">FAQ</a>
                </li>
            </ul>
        </div>
    </footer>
	<script src='{% static "js/new-age.min.js" %}'></script>
</body>
</html>
